.body{
  background: #FFFFFF;
  height: 100vh;
  width: 100%;
}

.body .topic-selection-body .container {
  height: 100vh;
  width: 100%;
  text-align: center;
  background: #FFFFFF
}

.topic{
  background: #FFFFFF;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  width:60%;
  height:20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  border-radius: 13px;
  display:table;
}
.selected-topic{
  background: #373546;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  width:60%;
  height:20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  border-radius: 10px;
  display:table;
}

.topic p{
  margin: 0;
  height:100%;
  text-align: center;
  line-height: 58px;
  width:100%;
  display: table-cell;
  padding-left:15px;
  padding-right:15px;
}
.selected-topic p{
  color: #FFFFFF;
  margin: 0;
  height:100%;
  text-align: center;
  line-height: 58px;
  width:70%;
  display: table-cell;
  padding-left:15px;
  padding-right:15px;
}

.next-btn{
  /* float: right; */
  background: #009362;
  color: #FFFFFF;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  width:40%;
  height:40px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  border-radius: 30px;
  display:table;
}